main{
    position: relative;
}
.film{
    border-top: 2.5rem solid #fffff6;
    width: 100%;
    height: 27rem;
    overflow: hidden;
    border-bottom: 2.5rem solid #fffff6;
    position: relative;
    background-color: #fffff6;
}
.film img{
    border-left: 1rem solid #fffff6;
    border-right: 1rem solid #fffff6;
    margin-right: -5px;
    display: inline-block;
    width: calc(25% - 1.97rem);
}
.film div{
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
}
.squares>.top-strip>div, .squares>.bottom-strip>div{
    background-color: #383636;
    height: 1.5rem;
    width: calc(3.86% - .5rem);
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.25rem;
}
.top-strip, .bottom-strip{
    position: absolute;
    width: 100%;
    height: 2rem;
    z-index: 1;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    display:flex;
    justify-content: space-around;
}
.top-strip{
    top: 0.5rem;
}
.bottom-strip{
    bottom: 0;
}
.top-animation-1{
    left: 0;
    animation-name: top-square-1;
}
@keyframes top-square-1{
    from{
        left: 0;
    }
    50%{left: -100%; opacity: 1;
    }
    50.01%{opacity: 0;}
    50.02%{left: 100%; opacity: 1;}
    to{
        left: 0;
    }
}
.top-animation-2{
    right: -100%;
    animation-name: top-square-2;
}
@keyframes top-square-2{
    from{
        right: -100%; opacity: 1;
    }
    50%{right: 0;
    }
    99.99%{right: 100%; opacity: 1;}
    to{opacity: 0;}
}
.squares{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 3rem;
    overflow: hidden;
}
.film div:nth-child(1){
    animation-name: first-film
}
@keyframes first-film{
    from{
        left: 0;
    }
    50%{left: 100%; opacity: 1;
    }
    50.01%{opacity: 0;}
    50.02%{left: -100%; opacity: 1;}
    to{
        left: 0;
    }
}
.film div:nth-child(2){
    animation-name: second-film;
    left: unset;
    right: 100%;
}
@keyframes second-film{
    from{
        right: 100%; opacity: 1;
    }
    50%{right: 0;
    }
    99.99%{right: -100%; opacity: 1;}
    to{opacity: 0;}
}
@media (max-width:1100px){
    .film{
        height: 19rem;
    }
}
@media (max-width:800px){
    .film{
        height: 13rem;
    }
}
@media (max-width:1320px){
    .squares>.top-strip, .squares>.bottom-strip{
        overflow: hidden;
    }
    .squares>.top-strip>.film-desktop, .squares>.bottom-strip>.film-desktop{
        display: none;
    }
    .squares>.top-strip>div, .squares>.bottom-strip>div{
        width:calc(5.88% - .5rem);
    }
}
@media (max-width:600px){
    .film div{
        width: 200vw;
    }
    .film img{
        width: calc(50vw - 1.97rem);
    }
    .film{
        height: 19rem;
    }
    .squares>.top-strip>.film-tablet, .squares>.bottom-strip>.film-tablet{
        display: none;
    }
    .squares>.top-strip>div, .squares>.bottom-strip>div{
        width:calc(11.86% - .5rem);
    }
}
@media (max-width:400px){
    .film div{
        width: 400vw;
    }
    .film img{
        width: calc(100vw - 1.97rem);
    }
    .film{
        height: 27rem;
    }
}