.dots{
    display: inline-block;
}
.dots div{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display:inline-block;
    margin: 0 0.09rem;
    margin-bottom: 0.75rem;
}
.orange{
    background-color: #ffbe5c;
}
.blue{
    background-color: #15c3ff;
    color: #383636;
}
.gray{
    background-color: #d9d9d9;
    color: #383636;
}
.charcoal{
    background-color: #383636;
}
body{
    background-color: #383636;
    margin: 0;
    color: #fffff6;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #fffff6;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    padding: .5rem;
    gap: 1rem;
}
.logo{
    width: 100%;
    max-width: 400px;
}
nav>a, nav>div>a, nav>div>div>a{
    width: 4.25rem;
    padding: 1.5rem 0;
    border-radius: 2.1rem;
    display: inline-block;
    color: #fffff6;
    text-decoration: none;
    text-align: center;
    margin: 0 0.75rem 0.5rem;
}
nav>div>div>a{
    width: 3.75rem;
    padding: 1.48rem 0;
    border-radius: 2.1rem;
    font-size: 0.6rem;
}
nav>div>div>a.charcoal{
    border: .09rem solid #fffff6;
}
nav>div>div{
    display: none;
    position: absolute;
    bottom: -5.5rem;
    left: calc(-50% + .45rem);
    padding-top: 3rem;
    background: rgb(56,54,54);
    background: linear-gradient(0deg, rgba(56,54,54,0.7021183473389356) 20%, rgba(56,54,54,0)70%);
    border-radius: 2px;
    z-index: 1;
}
nav>div{
    display: inline-block;
    position: relative;
}
header>div{
    display: none;
}
nav{
    text-align: center;
    flex-basis: 100%;
}
nav>div>a:hover+div, nav>div>div:hover{
    display: flex;
}
.break-point{
    display: inline-block;
}
.nav-footer{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    text-align: left;
    border-top: 0.125rem solid #fffff6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    flex-basis: 100%;
}
.nav-footer a{
    display: block;
}
.indent{
    margin-left: 1rem;
    font-size: 0.9rem;
}
.enter-site{
    text-align: center;
    font-size: 1.3rem;
}
.client-bio{
    width: 25rem;
    margin: 1rem auto; 
    text-align: center;
    max-width: 100%;
}
.client-bio img{
    max-width: 100%;
}
.social-icon{
    width: 1.8rem;
    height: 1.8rem;
}
.client-bio>a{
    text-decoration: none;
    text-align: center;
}
.client-bio>a>h2{
    color: #ffbe5c;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}
.client-bio>a>h3{
    color: #fffff6;
    font-size: 1rem;
    margin-top: 0;
}
.client-bio>a:hover>h2{
    text-decoration: underline;
}
.client-bio>a:hover{
    text-decoration: none;
}
.clients{
    font-size: x-large; 
    color: #d9d9d9;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    padding-top: 6.5rem;
    height: 18.5rem;
    position: relative;
}
.clients:hover{
    background-color: #d9d9d9;
    color: #383636;
}
.clients:hover .gray{
    background-color: #383636;
}
.clients .drop-down{
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    display: none;
}
.clients .drop-down>a{
    color: #d9d9d9;
    background-color: #383636;
    width: calc(100% - 0.25rem);
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    border: 0.125rem solid #d9d9d9;
    font-weight: 800;
}
.clients .drop-down>a:hover{
    background-color: #d9d9d9;
    color: #383636;
    border: 0.125rem solid #383636;
}
.clients:hover .drop-down{
    display: block;
}
.client-details, .about-me{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.client-details>div>p, .about-me p, .service-details p, .podcast-details p{
    padding: 1.5rem;
    max-width: 50rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.client-details h1{
    color: #ffbe5c;
}
.client-details p, .client-details h2{
    color: #fffff6;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
    align-items: center;
    flex-wrap: wrap;
}
.logos img{
    width: 100%;
}
.logos a{
    width: 20%;
}
.tour{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.tour h3{
    color: #ffbe5c;
}
.tour>div{
    border: 0.125rem solid #fffff6;
    padding: 1rem;
}
.tour a{
    color: #fffff6;
}
a{
    color: #ffbe5c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.client-details>div>img, .about-me>div>img{
    width: 30rem;
    max-width: 100%;
}
.client-details>div, .about-me>div{
    text-align: center;
}
.quote{
    color: #15c3ff;
    font-size: 1.3rem;
}
.author{
    text-align: right;
}
.article{
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    gap: 1rem;
    color: #fffff6;
}
.article h2{
    color: #ffbe5c;
    margin: 0;
}
.article h3{
    color: #fffff6;
    margin-top: 0;
}
.article>img{
    width: 15rem;
}
.outside-article{
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    color: #fffff6;  
}
.outside-article h2{
    color: #15c3ff;
    margin-top: 0;
}
.outside-article>img{
    width: 15rem;
}
.outside-article>div{
    width: 70%;
}
.article:hover, .outside-article:hover{
    text-decoration: none;
}
.article:hover h2, .outside-article:hover h2{
    text-decoration: underline;
}
.back-button{
    text-align: right;
    margin: 0.125rem 1.5rem;
    grid-column: 2/3;
    justify-self: flex-end;
}
.back-button>a{
        color: #d9d9d9;
        text-decoration: none;
        display: inline-block;
        padding: 1rem 1rem;
        border: 0.125rem solid #d9d9d9;
        font-weight: 800;
    }
    .back-button>a:hover{
        background-color: #d9d9d9;
        color: #383636;
        border: 0.125rem solid #383636;
}
.giant-circles>a{
    color: #fffff6;
    padding: 9.5rem 0;
    width: 21.5rem;
    display: inline-block;
    border-radius: 20rem;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}
.giant-circles{
    text-align: center;
    margin-top: 2rem;
}
.giant-circles>.charcoal{
    border: 0.125rem solid #fffff6;
}
.giant-circles>.blue, .giant-circles>.gray{
    color: #383636;
}
.giant-circles.services{
    transform: scale(0.75);
    transform-origin: top;
}
.services-icons img{
    max-width: 100%;
}
.services-icons>a{
    padding: 1rem 0;
}
.service-details h1.orange-font{
    color: #ffbe5c;
}
.service-details h1.blue-font{
    color: #15c3ff;
}
.service-details h1.charcoal-font{
    color: #fffff6;
}
.service-details h1.gray-font{
    color: #d9d9d9;
}
.medium-circles>a{
    color: #fffff6;
    padding: 3.3rem 0;
    width: 8rem;
    display: inline-block;
    border-radius: 20rem;
    text-align: center;
    margin: 1rem;
}
.medium-circles{
    text-align: center;
    margin-top: 2rem;
}
.medium-circles a{
    cursor: pointer;
}
.article>div{
    width: 70%;
}
.article>img{
    display: block;
}
footer{
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fffff6;
}
footer p{
    width: 18rem;
}
footer p:last-child{
    text-align: right;
}
footer .gcc-icon{
width: 1.5rem;
margin: 0.125rem;
}
form{
    padding: 2rem;
}
label, input, textarea{
    display: block;
    width: calc(100% - 2rem);
    margin: 0.75rem;
}
input{
    margin-bottom: 1rem;
    background-color: #fffff6;
    padding: 0.5rem 0.25rem;
}
.clients-form input:focus{
    outline: none;
    border: 0.125rem solid #ffbe5c;
}
.partnership-form input:focus{
    outline: none;
    border: 0.125rem solid #15c3ff;
}
fieldset{
    border: 0.125rem solid #d9d9d9;
}
.clients-form label, .clients-form fieldset{
    color: #ffbe5c;
    font-size: 1.25rem;
}
.partnership-form label{
    color: #15c3ff;
    font-size: 1.25rem;
}
.clients-form input[type=submit], .partnership-form input[type=submit]{
    background-color: #383636;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #d9d9d9;
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    border: 0.125rem solid #d9d9d9;
    font-weight: 800;
}
.clients-form input:hover[type=submit], .partnership-form input:hover[type=submit]{
    background-color: #d9d9d9;
    color: #383636;
    border: 0.125rem solid #383636;
}
.disappear{
    display: none;
}
.appear{
    display: block;
}
.podcast{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}
.podcast a{
    width: 20rem;
}
.podcast img{
    width: 100%;
}
.podcast>div>h1{
    color: #d9d9d9;
    font-weight: 800;
    font-size: 3rem;
}
.podcast>div{
    flex-basis: 100%;
    text-align: center;
}
.podcast>a>h3{
    color: #fffff6;
    text-align: center;
}
.podcast>a:hover{
    text-decoration: none;
}
.podcast>a:hover>h2{
    text-decoration: underline;
}
.podcast>a>h2{
    text-align: center;
}
.podcast-details>div>img, .newsroom-details>div>img, .service-details>div>img{
    width: 100%;
}
.podcast-details>div>h1, .newsroom-details>div>h1, .service-details>div>h1{
    color: #ffbe5c;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}
.newsroom-details>div>h1{
    margin: 0;
}
.newsroom-details>div>h2{
    margin-bottom: 2.5rem;
    margin-top: 0;
    color: #fffff6;
}
.newsroom-details p{
    margin: 1.5rem 0
}
.newsroom-details{
    padding: 2rem;
}
figcaption{
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}
.service-details>div>h1{
    text-align: center;
}
.service-details p{
    color: #fffff6;
}
.service-details>div:nth-child(2){
    align-self: center;
}
.podcast-details>div>h2{
    color: #fffff6;
    font-size: 1rem;
    margin-top: 0
}
.podcast-details>div{
    text-align: center;
}
.podcast-details{
    padding: 2rem;
}
.podcast-details p{
    margin: auto;
    margin-bottom: 3rem;
}
.podcast-details iframe{
    margin: 0.5rem 0;
}
.coming-soon{
    font-size: x-large; 
    color: #d9d9d9;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    padding-top: 6.5rem;
    height: 18.5rem;
    position: relative;
}
/* home page navigation */
header.hamburger>div{
    display: block;
    position: absolute;
    width: 2rem;
    right: 1rem;
    top: 1rem;
}
.hamburger>nav{
    display: none;
    position: fixed;
    top: 3rem;
    right: 2rem;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    z-index: 2;
}
header.hamburger>div>hr{
    border-width: .15rem;
    border-style: solid;
}
header.hamburger>div>.orange{
    border-color: #ffbe5c;
}
header.hamburger>div>.blue{
    border-color: #15c3ff;
}
header.hamburger>div>.gray{
    border-color: #d9d9d9;
}
header.hamburger>nav .charcoal{
    border: .09rem solid #fffff6;
}
header.hamburger>nav a{
    border: .09rem solid transparent;
    padding: 1.55rem 0;
    width: 4.3rem;
    border-radius: 2.5rem;
}
header.hamburger>nav.show{
    display: flex;
}
.hamburger>nav>div>div{
    left: -100%;
    bottom: -70%;
    flex-direction: column;
    padding-right: 3rem;
    background: rgb(56,54,54);
    background: linear-gradient(90deg, rgba(56,54,54,0.7021183473389356) 20%, rgba(56,54,54,0)70%);
}
.hamburger>nav>div>div>a{
    width: 3.75rem;
    padding: 1.48rem 0;
    margin-bottom: 1.5rem;
}
@media (min-width: 1296px){
    .client-columns{
        display: grid;
        grid-template-columns: 25rem 25rem 25rem;
        grid-template-rows: auto;
        gap: 1rem;
        justify-content: center;
    }
    .client-details,.about-me{
        flex-wrap: nowrap;
    }
    .client-details>p{
        padding: 12rem 1.5rem 1.5rem;
    }
    .client-details>div>img, .about-me>div>img{
        max-width: unset;
    }
    form{
        width: 45rem;
        margin: auto;
    }
    .podcast-details, .newsroom-details, .service-details{
        display: grid;
        grid-template-columns: 3fr 7fr;
        gap: 2rem 1rem;
        padding: 2rem 1.5rem;
    }
    .clients, .coming-soon{
        margin: 1rem 0;
    }
    .article, .outside-article{
        align-items: center;
    }
}
@media (max-width: 780px){
    .break-point{
        display: block;
    }
}
@media (max-width: 1295px){
    .service-details>div>img{
        width: 20rem;
        max-width: 95%;
        margin: 1rem auto;
        display: block;
    }
    .clients{
        margin-bottom: 10rem;
    }
}
@media (max-width: 600px){
    footer p:last-child{
        text-align: center;
        flex: 100%;
    }
}
@media (max-width: 460px){
    nav>div>div{
        left: 0;
    }
    .about-me p{
        font-size: 1rem;
    }
    nav>div:nth-child(4)>div{
        left: unset;
        right: 0;
    }
    .article{
        flex-wrap: wrap;
    }
    .article>img{
        width: 100%;
    }
}